config  HDMI_CAT66121
        bool "CAT66121 HDMI support"
        help
           Support cat66121 hdmi if you say y here

if HDMI_CAT66121
source "drivers/video/rockchip/hdmi/chips/cat66121/Kconfig"
endif
